<head>
    <meta charset="UTF-8">
    <title>Controle de Acesso</title> <!-- Aba do navegador -->
    </head>
    <head>
        <meta charset="UTF-8">
        <title>Controle de Acesso</title> <!-- Aba do navegador -->
    </head>
        
    <body>
        <form class="form change-font" action="#" method="#" > <!--o action Atributo que define a URL que será enviado, o method indica qual HTTP para enviar os dados-->
            <div class="card">
                <div class="card-top">
                    <h2 class="title">Controle de Acesso</h2>
                    <p>Gerenciar seu Negócio</p>
                </div>           
                <div class="card-group">
                    <label for="email"><b>E-mail</b></label>
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail"> <!--Placeholder indica o texto que deverá ser inserido-->
                </div>
               <div class="card-group">
                    <label><b>Senha</b></label>
                    <input type="password" name="senha" placeholder="Digite sua senha" required>
                </div>
                <div class="card-group">
                    <label> <input type="checkbox"> Lembre-me</label>
                    <p></p>
                </div>
                <div class="card-group btn">
                    <p></p>
                    <p></p>
                    <button routerLink="/menu" type="checkbox"><b> ACESSAR</b></button>
                </div>
            </div>
        </form>
    </body>