* {
    margin: 0px;
    font-family: 'Monteserrat', sans-serif;
}

.global {
    margin-left: 240px;
}

/*===========================*/

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px;
    text-align: center;
}

.fourth {
    border-color: black;
    color: black;
    background-image: -webkit-linear-gradient(45deg, black 50%, transparent 50%);
    background-image: linear-gradient(45deg, black 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.fourth:hover {
    color: white;
    background-position: 0;
}

.cabecalho {
    border-color: white;
    color: white;
    background-image: -webkit-linear-gradient(45deg, white 50%, transparent 50%);
    background-image: linear-gradient(45deg, white 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.cabecalho:hover {
    color: black;
    background-position: 0;
}

/*===================*/

header {
    font-size: 28px;
    color: white;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #1b1b1b;
}
