<div class="global">
    <header>
        Perfil / Cadastrar

        <nav class="botaoHorizontal">
                <button routerLink="/perfil" class="btn cabecalho"> Voltar</button>
        </nav>
    </header>

    <main>
        <div class="formulario">
            <!--div esquerda para cadastro, deve conter um pequeno formulário-->
            <h3>Cadastrar</h3>

            <br>
            <div class="formtexto">
                <label class="titulo">Nome:</label>
                <input type="text" placeholder="Insira o nome..." />
            </div>
            <div class="formbotao">
                <button class="btn fourth">Cadastrar</button>
            </div>

        </div>
    </main>
</div>

