<div class="global" >

    <header>Perfil</header>
    <nav>
        <button class="btnCabecalho fourth" routerLink="/perfil-cadastro"> Cadastrar Perfil</button>
        <button class="btnCabecalho fourth"> Ver todos</button>
    </nav>
<main>
    
       <div class="formulario">
           
            <h3>Consultar Perfil</h3>

        <div class="formtexto">
                <label class="pesquisa">Pesquisa por nome:</label>
                <input type="text" placeholder="Nome do perfil.." />
            </div>

            <div class="formbotao">
                <button class="btn fourth">Consultar</button>
            </div>

        </div>

            <div class="tabela">
                <h3>Listagem de Perfis</h3>
                <div class="formbotao">
                    <button class="btn fourth">Listar</button>
                </div>
      

            <div class="tabelaContainer">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Permissões</th>
                    </tr>
                    <tr>
                        <th><button class="btn fourth"><i class="fas fa-eye"></i></button></th>
                    </tr>
                </table>
            </div>
    </div>
     </main>
</div>
