<app-menu></app-menu>
<div class="global">
    <header>
        Atribuição de permissões a um perfil
        <nav>
            <button routerLink="/permissao" class="btn cabecalho">Voltar para Permissões</button>
        </nav>
    </header>
    <nav>
        <div class="perfilTopo">
            <label>Perfil</label>
            <input type="text" placeholder="Consultar por nome">
            <div class="perfilTabela">
                <table>
                    <tr *ngFor="let perfil of perfis">
                        <td>{{perfil.nome}} </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="permissaoTopo">

            <input type="text" placeholder="Consultar por nome">

            <a href="metodoAdicionarPermissao()"><img src="../../assets/adicao_img.jpg" alt="adicionar"
                    title="Adicionar permissão"></a>
            <a href="metodoRemoverPermissao()"><img src="../../assets/subtracao_img.png" alt="remover"
                    title="Remover permissão"></a>
            <label>Permissão</label>
            <div class="permissaoTabela">
                <table>
                    <tr *ngFor="let perfil of perfis">
                        <td>{{perfil.permissoes}}</td>
                    </tr>
                    
                    <!-- 
                    <tr *ngFor="let perfil of perfis">
                        <td>{{perfil.permissoes}} </td>
                    </tr>
                    -->
                    
                    
                    <tr>
                        <td>Permissão 3 exemplo</td>
                    </tr>
                    <tr>
                        <td>Permissão 4 exemplo</td>
                    </tr>
                    <tr>
                        <td>Permissão 5 exemplo</td>
                    </tr>
                    <tr>
                        <td>Permissão 6 exemplo</td>
                    </tr>
                    <tr>
                        <td>Permissão 7 exemplo</td>
                    </tr>
                    <tr>
                        <td>Permissão 8 exemplo</td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>

    <footer>
        <a href="consulta de permissao.html">Voltar à página inicial (simulação)</a>
    </footer>
</div>
