<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


<div class="sidebar">
    <header>Controle Acesso</header>

    <a>
        <i class="fas fa-qrcode"></i>
        <span routerLink="/perfil">Perfis</span>
    </a>

    <a>
        <i class="far fa-address-card"></i>
        <span routerLink="/usuario">Usuarios</span>
    </a>

    <a>
        <i class="fas fa-stream"></i>
        <span routerLink="/acesso">Acessos</span>
    </a>

    <a>
        <i class="fas fa-shield-alt"></i>
        <span routerLink="/permissao">Permissões</span>
    </a>

<div id="config">
    <a>
        <i class="fas fa-cog"></i>
    </a>
</div>
    
</div>

