<input type="checkbox" id="check">

<label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>

<div class="sidebar">
    <header>Controle Acesso</header>

    <a href="#" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Perfis</span>
    </a>

    <a href="#">
        <i class="far fa-address-card"></i>
        <span>Usuarios</span>
    </a>

    <a href="#">
        <i class="fas fa-stream"></i>
        <span>Acessos</span>
    </a>

    <a href="#">
        <i class="fas fa-shield-alt"></i>
        <span>Permissões</span>
    </a>
</div>