<div class="global">

    <header>
        Permissões

        <nav>
            <button class="botaocabecalho">Atribuir a um Perfil</button>
        </nav>
    </header>

    <main>
        <div class="formulario">
            <!--div esquerda para cadastro, deve conter um pequeno formulário-->
            <h3>Cadastrar</h3>

            <div class="formtexto">
                <label class="titulo">Descrição:</label>
                <input type="text" placeholder="Insira a descrição da permissão..." />
            </div>
            <div class="formbotao">
                <button class="botao">Cadastrar</button>
            </div>

        </div>

        <div class="tabela">
            <h3>Lista de Permissões:</h3>
            <div class="formtexto">
                <label class="titulo">Pesquisar:</label>
                <input type="text" placeholder="Pesquisar por nome que contenha..." />
            </div>
            <div class="formbotao">
                <button class="botao">Pesquisar</button>
            </div>
            <div class="tabelaContainer">
                <table>

                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let permissao of permissoes ">

                        <td>{{permissao.id}}</td>
                        <td>{{permissao.nome}}</td>
                        <th><button class="botaolista">apagar</button> <button class="botaolista">editar</button></th>
                    </tr>


                </table>
            </div>
            <!--div direita, mostrar as permissões já cadastradas-->
            <!--para cada permissao na lista permissoes, mostrar na tabela-->
        </div>
    </main>



</div>