<div class="global">

    <h1>Permissões</h1>

    <div class="formulario">
        <!--div esquerda para cadastro, deve conter um pequeno formulário-->
        <label>Nome/descrição da permissão:</label>
        <input type="text" placeholder="Insira a descrição da permissão" />
        <button>Cadastrar</button>
    </div>

    <div class="tabela">
        <!--div direita, mostrar as permissões já cadastradas-->
        <!--para cada permissao na lista permissoes, mostrar na tabela-->
    </div>

</div>