<app-menu></app-menu>
<div class="global">

    <header>
        | Permissões

        <nav>
            <button routerLink="/perfil-permissao" class="btn cabecalho">Atribuir a um Perfil</button>
        </nav>
    </header>

    <main>
        <div class="formulario">
            <!--div esquerda para cadastro, deve conter um pequeno formulário-->
            <h3>Cadastrar</h3>

            <div class="formtexto">
                <label class="titulo">Descrição:</label>
                <input #permissao type="text" placeholder="Insira a descrição da permissão..." />
            </div>
            <div class="formbotao">
                <button class="btn fourth" (click)="cadastrar(permissao.value); permissao.value= ''"
                    (click)=pesquisar>Cadastrar</button>
            </div>

        </div>

        <div class="tabela">
            <h3>Lista de Permissões:</h3>
            <div class="formtexto">
                <label class="titulo" (click)= "buscarPorNome(nomeDaPermissao.value)">Pesquisar:</label>
                <input #nomeDaPermissao type="text" placeholder="Pesquisar por nome que contenha..." />
            </div>
            <div class="formbotao">
                <button #pesquisar class="btn fourth" (click)="getPermissao()">Pesquisar</button>
            </div>
            <div class="tabelaContainer">
                <table>

                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let permissao of permissoes ">

                        <td>{{permissao.idPermissao}}</td>
                        <td>{{permissao.nomePermissao}}</td>
                        <td>
                            <button class="botaolista fourth" (click)="deletar(permissao)">apagar</button>
                            <button routerLink="/permissao-editar" class="botaolista fourth">editar</button>
                        </td>
                    </tr>


                </table>
            </div>
            <!--div direita, mostrar as permissões já cadastradas-->
            <!--para cada permissao na lista permissoes, mostrar na tabela-->
        </div>
    </main>



</div>