<app-menu></app-menu>
<div class="global">

    <header>
       | Permissões - Editar

        <nav>
            <button routerLink="/permissao" class="btn cabecalho">Voltar para Permissões</button>
        </nav>
    </header>

    <main>
        <div class="formulario">
            <h3>Editar permissão</h3>

            <div class="formtexto">
                <label class="titulo">Insira as alterações desejadas:</label>
                <input type="text" placeholder="A descrição deverá estar aqui" />
            </div>
            <div class="formbotao">
                <button class="btn fourth">Concluir</button>
            </div>

        </div>

    </main>

</div>